<div class="login">
  <div class="login-box">
    <h2>Forgotten Password</h2>

    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
      <div class="container">
        <label for="email"><b>Email:</b></label>
        <input
          id="email"
          type="email"
          placeholder="Enter Email"
          name="email"
          [(ngModel)]="username"
          required
        />

        <button type="submit" class="forgotlink" [disabled]="!forgotPasswordForm.form.valid">Send Link</button>
        <br />
        <br /><br />
        <a routerLink="../login">Back to Login</a>
      </div>
    </form>
  </div>

</div>
